<li class="tag text__body">
  <button type="button" tabindex="0" name="high-rise" title="Narrow selection to products matching tag High Rise">High Rise</button>
</li>
<li class="tag text__body">
  <button type="button" tabindex="0" name="mid-rise" title="Narrow selection to products matching tag Mid Rise">Mid Rise</button>
</li>
<li class="tag text__body">
  <button type="button" tabindex="0" name="bikini" title="Narrow selection to products matching tag Bikini">Bikini</button>
</li>