<li class="tag text__body">
  <button type="button" tabindex="0" name="black" title="Narrow selection to products matching tag Black">
    <span class="color-swatch color-swatch--filter color-swatch--black" style="background-image: url(https://cdn.shopify.com/s/files/1/1365/7915/files/black_50x.png); background-color: black;">
      Black
    </span>
  </button>
</li>
<li class="tag text__body">
  <button type="button" tabindex="0" name="blue" title="Narrow selection to products matching tag Blue">
    <span class="color-swatch color-swatch--filter color-swatch--blue" style="background-image: url(https://cdn.shopify.com/s/files/1/1365/7915/files/blue_50x.png); background-color: blue;">
      Blue
    </span>
  </button>
</li>
<li class="tag text__body">
  <button type="button" tabindex="0" name="burgundy" title="Narrow selection to products matching tag Burgundy">
    <span class="color-swatch color-swatch--filter color-swatch--burgundy" style="background-image: url(https://cdn.shopify.com/s/files/1/1365/7915/files/burgundy_50x.png); background-color: burgundy;">
      Burgundy
    </span>
  </button>
</li>
<li class="tag text__body">
  <button type="button" tabindex="0" name="gray" title="Narrow selection to products matching tag Gray">
    <span class="color-swatch color-swatch--filter color-swatch--gray" style="background-image: url(https://cdn.shopify.com/s/files/1/1365/7915/files/gray_50x.png); background-color: gray;">
      Gray
    </span>
  </button>
</li>
<li class="tag text__body">
  <button type="button" tabindex="0" name="green" title="Narrow selection to products matching tag Green">
    <span class="color-swatch color-swatch--filter color-swatch--green" style="background-image: url(https://cdn.shopify.com/s/files/1/1365/7915/files/green_50x.png); background-color: green;">
      Green
    </span>
  </button>
</li>
<li class="tag text__body">
  <button type="button" tabindex="0" name="multicolored" title="Narrow selection to products matching tag Multicolored">
    <span class="color-swatch color-swatch--filter color-swatch--multicolored" style="background-image: url(https://cdn.shopify.com/s/files/1/1365/7915/files/multicolored_50x.png); background-color: multicolored;">
      Multicolored
    </span>
  </button>
</li>
<li class="tag text__body">
  <button type="button" tabindex="0" name="navy" title="Narrow selection to products matching tag Navy">
    <span class="color-swatch color-swatch--filter color-swatch--navy" style="background-image: url(https://cdn.shopify.com/s/files/1/1365/7915/files/navy_50x.png); background-color: navy;">
      Navy
    </span>
  </button>
</li>
<li class="tag text__body">
  <button type="button" tabindex="0" name="pink" title="Narrow selection to products matching tag Pink">
    <span class="color-swatch color-swatch--filter color-swatch--pink" style="background-image: url(https://cdn.shopify.com/s/files/1/1365/7915/files/pink_50x.png); background-color: pink;">
      Pink
    </span>
  </button>
</li>
<li class="tag text__body">
  <button type="button" tabindex="0" name="purple" title="Narrow selection to products matching tag Purple">
    <span class="color-swatch color-swatch--filter color-swatch--purple" style="background-image: url(https://cdn.shopify.com/s/files/1/1365/7915/files/purple_50x.png); background-color: purple;">
      Purple
    </span>
  </button>
</li>
<li class="tag text__body">
  <button type="button" tabindex="0" name="red" title="Narrow selection to products matching tag Red">
    <span class="color-swatch color-swatch--filter color-swatch--red" style="background-image: url(https://cdn.shopify.com/s/files/1/1365/7915/files/red_50x.png); background-color: red;">
      Red
    </span>
  </button>
</li>
<li class="tag text__body">
  <button type="button" tabindex="0" name="teal" title="Narrow selection to products matching tag Teal">
    <span class="color-swatch color-swatch--filter color-swatch--teal" style="background-image: url(https://cdn.shopify.com/s/files/1/1365/7915/files/teal_50x.png); background-color: teal;">
      Teal
    </span>
  </button>
</li>
<li class="tag text__body">
  <button type="button" tabindex="0" name="turquoise" title="Narrow selection to products matching tag Turquoise">
    <span class="color-swatch color-swatch--filter color-swatch--turquoise" style="background-image: url(https://cdn.shopify.com/s/files/1/1365/7915/files/turquoise_50x.png); background-color: turquoise;">
      Turquoise
    </span>
  </button>
</li>
<li class="tag text__body">
  <button type="button" tabindex="0" name="yellow" title="Narrow selection to products matching tag Yellow">
    <span class="color-swatch color-swatch--filter color-swatch--yellow" style="background-image: url(https://cdn.shopify.com/s/files/1/1365/7915/files/yellow_50x.png); background-color: yellow;">
      Yellow
    </span>
  </button>
</li>
<li class="tag text__body">
  <button type="button" tabindex="0" name="white" title="Narrow selection to products matching tag White">
    <span class="color-swatch color-swatch--filter color-swatch--white" style="background-image: url(https://cdn.shopify.com/s/files/1/1365/7915/files/white_50x.png); background-color: white;">
      White
    </span>
  </button>
</li>
<li class="tag text__body">
  <button type="button" tabindex="0" name="orange" title="Narrow selection to products matching tag Orange">
    <span class="color-swatch color-swatch--filter color-swatch--white" style="background-image: url(https://cdn.shopify.com/s/files/1/1365/7915/files/orange_50x.png); background-color: white;">
      Orange
    </span>
  </button>
</li>