<li class="tag text__body">
  <button type="button" tabindex="0" name="tankini" title="Narrow selection to products matching tag Tankini">Tankini</button>
</li>
<li class="tag text__body">
  <button type="button" tabindex="0" name="midkini" title="Narrow selection to products matching tag Midkini">Midkini</button>
</li>
<li class="tag text__body">
  <button type="button" tabindex="0" name="crop" title="Narrow selection to products matching tag Crop">Crop</button>
</li>
<li class="tag text__body">
  <button type="button" tabindex="0" name="bralette" title="Narrow selection to products matching tag Bralette">Bralette</button>
</li>